header{ padding: 4px; 
    background-color: rgb(243, 241, 241); 
    text-align: start;
    font-size: 20px;
    overflow: auto;
}

nav{padding: 30px 50px 10px 80px;  
    background-color: rgb(212, 212, 245);
}

section{ padding: 20%;
    background-image: url('../img/portada.jpg');
    background-repeat: no-repeat;
    background-size: 100%;
    text-align: center;
}

footer{padding: 10px;
    background-color: rgb(221, 221, 221);
}
.flex-container{ 
    margin: 1%;
    display: flex;
    align-content: space-between;
    padding: 10px 10px 10px 10px;
    flex-wrap: wrap;
    justify-content: space-evenly;
    background-color: rgb(255, 255, 255);  
}
p{  font-family: Verdana, Geneva, Tahoma, sans-serif;
    text-transform: uppercase;
    text-align: center;
    font-weight:bold;
}
h1{
    color: white;font-size:50px;}
.h2{margin-left: 50px;
    font-size:small;
    color: rgb(196, 197, 197);
}
.p1{
    color: white; font-size:30px;
}
.p2{    color: white; font-size:20px;
}
.logo{
    margin: 3px; margin-right: 10%;
    width: 200px;}
.icon{
    padding: 10px 10px 10px 10px;
    width: 20px; float: right;
    display: flex;
    align-content:space-between;
    flex-wrap: wrap;
}

.button1{
    width: 150px; height: 50px;
    background-color:rgb(235, 186, 28) ;
    border-color: rgb(235, 186, 28);

}
.button2{
    width:150px; height: 50px;
    border-radius: 5%;
    background-color:rgb(235, 186, 28) ;
    border-color: rgb(235, 186, 28);
}
.button3{
    background-color: transparent;
    border-color: rgb(235, 186, 28);
    width: 150px; height: 50px;
    border-radius: 5%;
}